:root {
    --first-row-height: 300px;
    --first-col-width: 350px;
    --second-col-width: 500px;
    --outer-padding: 10px;
    --inner-padding: 5px;
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#tracker-complete {
    width: 100%;
    height: 100%;
    padding: var(--outer-padding);
    box-sizing: border-box;
    background-color: black;
}

.outer-row {
    display: flex;
    flex-direction: row;
}

.inner-row {
    margin-bottom: var(--inner-padding);
}

.outer-col {
    display: flex;
    flex-direction: column;
}

.first-col {
    flex: 0 0 var(--first-col-width);
}

.second-col {
    flex: 0 0 var(--second-col-width);
}

.inner-col {
    margin-right: var(--inner-padding);
}

.growing {
    flex: 1 1 auto;
}

#story-item-tracker {
    background-color: yellow;
}

#pokedex-tracker {
    background-color: green;
}

#top {
    flex: 0 0 var(--first-row-height);
    background-color: red;
}

#bottom {
    background-color: blue;
}

#location-list {
    background-color: orchid;
}

#pokemon-list {
    background-color: olive;
}

#wild-pokemon-list {
    background-color: white;
    flex: 3 3 auto;
}

#static-pokemon-list {
    background-color: darkcyan;
}

#map {
    background-color: orange;
}